body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
      background: linear-gradient(90deg, #d8ffa9, #67acf1, #b4ed6a, #16589a);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 7s ease infinite forwards;
  animation: gradientBG 7s ease infinite forwards;}